h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
}
  
.container {
    display: flex;
}

.left-div {
    width: 30%;
    padding: 22px;
}

.right-div {
    width: 70%;
    padding: 22px;
}

.details-left-div {
    width: 60%;
    padding: 22px;
}

.details-right-div {
    width: 40%;
    padding: 22px;
}

.title {
    font-size: 16px;
    margin-top: 8px 0;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .tag-list {
    margin: 0px;
  }
  
  mat-icon {
    margin-left: 8px;
    margin-top: 4px;
  }
  
  button {
    background-color: #262626;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: white;
    width: 100%;
    margin: 10px 20px;
    align-self: center;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #313131;
    color: #ffffff;
  }
  
  button:disabled,
  button[disabled]{
    background-color: #a3a3a3;
    color: #262626;
    cursor: default
  }