.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  margin: auto 0;
  width: 800px;
  min-width: 400px;

  .item {
    width: 90%;
  }
}

mat-card-title {
  text-align: center;
}

mat-form-field {
  width: 100%;
  margin: 10px auto;
}

.title {
  font-size: 16px;
  margin: 10px 0;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cancel {
  background-color: #ffffff;
  color: #262626;
  border: 1px solid #262626;
}

ul li {
  width: 20px;
  cursor: pointer;
  display: inline-block;
  margin: 8px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #262626;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: white;
  width: 70%;
  margin: 10px auto;
  align-self: center;
  cursor: pointer;
}
