<div class="container">
    
    <h2>
      {{ selectedIdeaBox?.name }}
    </h2>
    <mat-icon *ngIf="isReadyToClose"><span>check</span></mat-icon>
    <mat-icon *ngIf="!isReadyToClose"><span>close</span></mat-icon>
    <mat-icon (click)="backClicked()"><span>arrow_back</span></mat-icon>
    <mat-slide-toggle [checked]="viewNumbers" (change)="toggleViewNumbers($event)">View numbers</mat-slide-toggle>
</div>
<div class="container">
    <div class="scores">
        <p>Average scores for ideas ({{selectedIdeaBox?.defaultRequiredJuries?.length}} jury average score)</p>
        <mat-form-field>
            <mat-label>Scoring Aspect</mat-label>
            <mat-select (selectionChange)="changeScore($event)">
                <mat-option *ngFor="let score of scoreSheet?.scores" [value]="score">{{score.title}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div echarts [options]="scoreOption" (chartInit)="onChartInit($event)"></div>
    </div>
    <div class="ideas">
        <p>Scores on a given idea by the different juries</p>
        <mat-form-field>
            <mat-select (selectionChange)="changeIdea($event)">
                <mat-option *ngFor="let idea of selectedIdeaBox?.ideas" [value]="idea">{{idea.title}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div echarts [options]="ideaOption"></div>
    </div>
    <div class="details">
        
        <div *ngIf="selectedFullIdea">
            <h2>Details - {{ selectedFullIdea?.title }}</h2>
            <P *ngIf="selectedFullIdea.judgement.toString() == 'APPROVED'">Idea was approved</P>
            <P *ngIf="selectedFullIdea.judgement.toString() == 'DENIED'">Idea was denied</P>
            <p>Creator: {{ selectedFullIdea?.owner.firstName + " " + selectedFullIdea?.owner.lastName }}</p>
            <p>Creation Date: {{ selectedFullIdea?.creationDate | date }}</p>
            <p>Description: {{ selectedFullIdea.description }}</p>
            <p>Juries:</p>
            <mat-chip-list>
                <mat-chip *ngFor="let jury of selectedFullIdea.requiredJuries">
                  {{ jury.firstName + " " + jury.lastName }}
                </mat-chip>
            </mat-chip-list>
            <button disabled="selectedFullIdea.judgement.toString() != 'NOT_JUDGED'" class="approve" (click)="approveIdea()">Approve Idea</button>
            <button disabled="selectedFullIdea.judgement.toString() != 'NOT_JUDGED'" class="deny" (click)="denyIdea()">Deny Idea</button>
        </div>
        
        <div *ngIf="!selectedFullIdea">
            <h2>No idea selected</h2>
            <p>Select an idea!</p>
        </div>
        
    </div>
</div>

