<div class="container">
    
    <h2>
      {{ selectedIdeaBox?.name }}
    </h2>
    <mat-icon *ngIf="isReadyToClose"><span>check</span></mat-icon>
    <mat-icon *ngIf="!isReadyToClose"><span>close</span></mat-icon>
    <mat-icon *ngIf="!isReadyToClose"><span>arrow_back</span></mat-icon>
    <mat-slide-toggle [checked]="viewNumbers" (change)="toggleViewNumbers($event)">View numbers</mat-slide-toggle>
</div>
<div class="container">
    <div class="scores">
        <p>Average scores for ideas ({{selectedIdeaBox?.defaultRequiredJuries?.length}} jury average score)</p>
        <mat-form-field>
            <mat-label>Scoring Aspect</mat-label>
            <mat-select (selectionChange)="changeScore($event)">
                <mat-option *ngFor="let score of scoreSheet?.scores" [value]="score">{{score.title}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div echarts [options]="scoreOption" (chartInit)="onChartInit($event)"></div>
    </div>
    <div class="ideas">
        <p>Scores on a given idea by the different juries</p>
        <mat-form-field>
            <mat-select (selectionChange)="changeIdea($event)">
                <mat-option *ngFor="let idea of selectedIdeaBox?.ideas" [value]="idea">{{idea.title}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div echarts [options]="ideaOption"></div>
    </div>
    <div class="details">
        <p>details</p>
    </div>
</div>

