.container {
    display: flex;
}

.scores {
    width: 35%;
    padding: 22px;
}

.ideas {
    width: 35%;
    padding: 22px;
}

.details {
    width: 30%;
    padding: 22px;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
}

.title {
    font-size: 16px;
    margin-top: 8px 0;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

mat-icon {
    margin-left: 8px;
    margin-top: 4px;
  }

mat-slide-toggle {
    margin-top: 4px;
    margin-left: 30px;
}

button {
    background-color: #262626;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: white;
    width: 100%;
    margin: 10px 20px;
    align-self: center;
    cursor: pointer;
}

button:disabled,
button[disabled]{
  background-color: #a3a3a3;
  color: #262626;
  cursor: default
}

.approve {
    background-color: #43A047;
}

.deny {
    background-color: #F44336;
}