<div class="container">
  <div class="body">
    <h1>Scoring</h1>
    <mat-accordion>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Manage and assign scoresheets to IdeaBoxes</mat-panel-title
          >
        </mat-expansion-panel-header>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
          <mat-tab label="Creating Score Sheets">
            <app-create-score-sheet></app-create-score-sheet>
          </mat-tab>
        </mat-tab-group>
      </mat-expansion-panel>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Score Idea Boxes</mat-panel-title>
        </mat-expansion-panel-header>
        <app-ideas-to-score></app-ideas-to-score>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
