<div class="container">
  <div class="body">
    <h1>Scoring</h1>

    <mat-tab-group>
      <!--  Create Score Sheets  -->
      <mat-tab label="Create Score Sheet">
        <h2>Create Score Sheet for idea Boxes</h2>
        <app-create-score-sheet></app-create-score-sheet>
      </mat-tab>

      <!--  Score Idea Boxes  -->
      <mat-tab label="Score Idea Boxes">
        <h2>Score Idea boxes according to the defined scoresheet</h2>
        <app-ideas-to-score></app-ideas-to-score>
      </mat-tab>

      <!--  View Scored Idea Boxes  -->
      <mat-tab label="View Scored Idea Boxes" *ngIf="currentUser?.role == 'ADMIN'">
        <h2>View already scored idea boxes</h2>
        <app-view-scored-ideas></app-view-scored-ideas>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
