<div class="container">
  <div class="nav-body">
    <div class="logo">
      <a routerLink="/idea-boxes">Ideator</a>
    </div>
    <div class="links">
      <a routerLink="/idea-boxes" routerLinkActive="active">Idea Boxes</a>
      <a
        [routerLink]="'/user/' + currentUser?.email"
        routerLinkActive="active"
        >{{
          currentUser?.firstName
            ? currentUser?.firstName + " " + currentUser?.lastName
            : "User"
        }}</a
      >
      <a *ngIf="showScoring" routerLink="/scoring" routerLinkActive="active"
        >Scoring</a
      >
      <a (click)="logout()">Log Out</a>
    </div>
  </div>
</div>
