.container {
    display: flex;
  }
  
  .left-div {
    width: 30%;
    padding: 22px;
  }
  
  .right-div {
    width: 70%;
    padding: 22px;
  }
  
  .divider {
    width: 50%;
    padding: 22px;
  }

  mat-card {
    margin-top: 6px;
  }

  mat-card:hover {
    background-color: #F4F5F7;
  }
  
  mat-card.selected {
    background-color: #c7c7c7;
  }

  h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
  }