.container {
  padding: 16px;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.05);
  }
}

p {
  text-align: right;
  margin: auto 0;
}

.draft {
  pointer-events: none;
  opacity: 0.5;
}
