.container {
  padding: 5%;
  width: 90%;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

p {
  text-align: right;
  margin: auto 0;
}

.draft {
  pointer-events: none;
  opacity: 0.5;
}
