<div class="container">
  <p class="title">Owner:</p>
  <p class="description">{{ owner?.firstName + " " + owner?.lastName }}</p>
  <p class="title">Status:</p>
  <p class="description">{{ status }}</p>
  <p class="title">Created at:</p>
  <p class="description">{{ creationDate | date }}</p>
  <p class="title">Tags:</p>
  <div class="tag-list">
    <mat-chip-list aria-label="Tags">
      <mat-chip *ngFor="let tag of tags">
        {{ tag.name }}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
