h2 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}

mat-card {
  margin: 10px auto;
}

mat-card-title {
  text-align: center;
}

mat-form-field {
  width: 100%;
  margin: 10px auto;
}

button {
  background-color: #262626;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: white;
  width: 100%;
  margin: 10px auto;
  align-self: center;
  cursor: pointer;
}

.cancel {
  background-color: #ffffff;
  color: #262626;
  border: 1px solid #262626;
}
