<table mat-table [dataSource]="userDataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
  </ng-container>
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Last Name</th>
    <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
  </ng-container>
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef>Role</th>
    <td mat-cell *matCellDef="let element">{{ element.role }}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <div class="actions">
        <button
          mat-icon-button
          aria-label="Edit"
          (click)="editUser(element.email)"
        >
          <mat-icon><span>edit</span></mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Delete"
          (click)="deleteUser(element.id)"
        >
          <mat-icon><span>delete</span></mat-icon>
        </button>
        <app-edit-role
          [originalRole]="element.role"
          [id]="element.id"
        ></app-edit-role>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="userDisplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: userDisplayedColumns"></tr>
</table>
