.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #262626;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: white;
  width: 70%;
  margin: 10px auto;
  align-self: center;
  cursor: pointer;
}
