.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.body {
  width: 80%;
  height: 100%;
}

.indent {
  padding: 0 20px;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.line-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  margin: 40px 0;
  font-size: 36px;
  font-weight: 500;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

.mat-raised-button {
  margin: 10px;
  background-color: #262626;
  color: #f4f5f7;
}

.mat-stroked-button {
  margin: 10px;
  color: #262626;
}

app-idea-box-list-view {
  width: 100%;
  height: 100%;
}
