<div class="container">
  <div class="body">
    <h1>Welcome {{ currentUser?.firstName + " " + currentUser?.lastName }}!</h1>
    <div class="line">
      <div>
        <h2>Create Idea Box or browse from live ones!</h2>
      </div>
      <div>
        <button mat-raised-button [routerLink]="'create'">Create</button>
        <button mat-stroked-button *ngIf="currentUser?.role == 'ADMIN'">
          Manage Idea Boxes
        </button>
      </div>
    </div>
    <div class="ideas">
      <div class="line">
        <h2 class="title">Live Idea Boxes:</h2>
        <div class="search">
          <input
            (keyup)="filter()"
            class="searchField"
            type="text"
            [(ngModel)]="search"
          />
          <mat-icon
            ><span class="material-symbols-outlined"> search </span></mat-icon
          >
        </div>
      </div>
      <mat-grid-list cols="4" rowHeight="160px">
        <mat-grid-tile
          *ngFor="let box of ideaBoxes"
          [colspan]="1"
          [rowspan]="1"
        >
          <app-idea-box-list-view
            [ideaBox]="box"
            (click)="openIdeaBox(box.id)"
          ></app-idea-box-list-view>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-paginator
        #paginator
        [length]="ideaBoxCount"
        [pageSize]="pageSize"
        [pageSizeOptions]="[4, 8, 12]"
        aria-label="Select page"
        (page)="getServerData($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
