<div class="container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <mat-form-field appearance="fill">
          <mat-label>Email: </mat-label>
          <input matInput type="email" formControlName="email" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password: </mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
        <div class="actions">
          <button [disabled]="!loginForm.valid" (click)="login()">Login</button>
          <button class="cancel" routerLink="/register">Register</button>
        </div>
      </form>
      <app-tenant-selector></app-tenant-selector>
    </mat-card-content>
  </mat-card>
</div>
