<div class="container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <mat-form-field appearance="fill">
          <mat-label>Users</mat-label>
          <mat-select id="user" name="user" formControlName="user">
            <mat-option *ngFor="let user of users" [value]="user">
              {{ user?.firstName + " " + user?.lastName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="form-body">
          <button [disabled]="!loginForm.valid" (click)="login()">Login</button>
          <button class="register" routerLink="/register">
            Create new User
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
