<div class="container">
  <mat-card>
    <mat-card-title>Create new Idea</mat-card-title>
    <mat-card-content>
      <form [formGroup]="IdeaForm">
        <mat-form-field appearance="fill">
          <mat-label>Title: </mat-label>
          <input matInput id="title" type="text" formControlName="title" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Description: </mat-label>
          <input
            matInput
            id="description"
            type="text"
            formControlName="description"
          />
        </mat-form-field>
        <div class="actions">
          <button
            [disabled]="!IdeaForm.valid"
            (click)="create()"
            [ngClass]="IdeaForm.valid ? '' : 'disabled'"
          >
            Create
          </button>
          <button class="cancel" routerLink="/idea-boxes">Cancel</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
