<mat-accordion>
  <mat-expansion-panel hideToggle expanded="false">
    <mat-expansion-panel-header>
      <mat-panel-title> User editing </mat-panel-title>
      <mat-panel-description> Manage user permissions </mat-panel-description>
    </mat-expansion-panel-header>
    <app-user-permission></app-user-permission>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle expanded="false">
    <mat-expansion-panel-header>
      <mat-panel-title> IdeaBox editing </mat-panel-title>
      <mat-panel-description> Manage idea boxes </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="half-divider">
      <p>idea boxes</p>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle expanded="false">
    <mat-expansion-panel-header>
      <mat-panel-title> Idea editing </mat-panel-title>
      <mat-panel-description> Manage ideas </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="half-divider">
      <p>ideas</p>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle expanded="false">
    <mat-expansion-panel-header>
      <mat-panel-title> Score editing </mat-panel-title>
      <mat-panel-description> Manage scores </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="half-divider">
      <p>scores</p>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle expanded="false">
    <mat-expansion-panel-header>
      <mat-panel-title> Idea decisions </mat-panel-title>
      <mat-panel-description> Approve or Deny ideas </mat-panel-description>
    </mat-expansion-panel-header>
    <app-reviewed-ideas-list></app-reviewed-ideas-list>
  </mat-expansion-panel>
</mat-accordion>
