.mat-raised-button {
  margin: 10px;
  background-color: #262626;
  color: #f4f5f7;
}

.mat-stroked-button {
  margin: 10px;
  color: #262626;
}

h1 {
  margin: 10px 0;
  font-size: 36px;
  font-weight: 500;
}
