h2 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}

.container {
  display: flex;
}

.left-div {
  width: 30%;
  padding: 22px;
}

.right-div {
  width: 70%;
  padding: 22px;
}

.details-left-div {
  width: 60%;
  padding: 22px;
}

.details-right-div {
  width: 40%;
  padding: 22px;
}

mat-card {
  margin-top: 6px;
}

mat-card:hover {
  background-color: #F4F5F7;
}

mat-card.selected {
  background-color: #9e9e9e;
}

.title {
  font-size: 16px;
  margin: 16px 0 0 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

