<div class="container">
  <mat-card>
    <mat-card-title>Scores for idea: {{ idea?.title }}</mat-card-title>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Beérkezett pontozások</mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let score of scoreSheets">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>{{ score.owner.email }}</mat-panel-title>
            </mat-expansion-panel-header>
            <h3>Scores</h3>
            <div *ngFor="let item of score.scores">
              <p *ngIf="item.text == null">
                {{ item.title }}: {{ item.score }} ({{ item.type }})
              </p>
              <p *ngIf="item.text != null">
                {{ item.title }}: {{ item.text }} ({{ item.type }})
              </p>
            </div>
          </mat-expansion-panel>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Összesített pontozás</mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let item of template?.scores">
          <mat-card>
            <mat-card-header>
              <h3>{{ item.title }}</h3>
            </mat-card-header>
            <mat-card-content>
              <p>
                Total Score in the category {{ item.title }}:
                {{ item.score }} out of
                <span *ngIf="item.type == 'SLIDER'">10</span
                ><span *ngIf="item.type == 'STAR'">5</span>
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
