.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.body {
  width: 80%;
  height: 100%;
}

h1 {
  margin: 40px 0;
  font-size: 36px;
  font-weight: 500;
}

h2 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}

.half-divider {
  display: flex;
  flex-direction: row;
}

.col {
  width: 45%;
  margin: 2.5%;
}
