<div class="container">
  <div class="body">
    <h1>Welcome {{ currentUser?.firstName + " " + currentUser?.lastName }}!</h1>

    <mat-tab-group>
      <!--  Ideas  -->
      <mat-tab label="Ideas">
        <h2>Own Ideas</h2>
        <app-user-idea-list
          [ideas]="currentUser?.ideas"
        ></app-user-idea-list>
      </mat-tab>

      <!--  Idea Boxes  -->
      <mat-tab label="Idea Boxes">
        <h2>Own Idea boxes</h2>
        <app-user-idea-box-list
          [ideaBoxes]="currentUser?.ideaBoxes"
        ></app-user-idea-box-list>
      </mat-tab>

      <!--  Admin Editing  -->
      <mat-tab label="Edit" *ngIf="currentUser?.role === 'ADMIN'">
        <h2>Edit site data</h2>
        <app-admin></app-admin>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
