<div class="container">
  <div class="body">
    <h1>Welcome {{ currentUser?.firstName + " " + currentUser?.lastName }}!</h1>
    <mat-accordion>
      <mat-expansion-panel hideToggle expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Idea Boxes, Ideas </mat-panel-title>
          <mat-panel-description>
            Manage the user's own idea boxes and ideas
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="half-divider">
          <div class="col">
            <h2>Own Ideas</h2>
            <app-user-idea-list
              [ideas]="currentUser?.ideas"
            ></app-user-idea-list>
          </div>
          <div class="col">
            <h2>Own Idea boxes</h2>
            <app-user-idea-box-list
              [ideaBoxes]="currentUser?.ideaBoxes"
            ></app-user-idea-box-list>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel
        hideToggle
        expanded="true"
        *ngIf="currentUser?.role === 'JURY' || currentUser?.role === 'ADMIN'"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Upcoming and juried ideas </mat-panel-title>
          <mat-panel-description>
            Jury the upcoming ideas and visit juried ones
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- ide jon majd a listazas-->
      </mat-expansion-panel>
      <mat-expansion-panel
        hideToggle
        expanded="true"
        *ngIf="currentUser?.role === 'ADMIN'"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Admin editing </mat-panel-title>
          <mat-panel-description>
            Edit all idea boxes, ideas, scores
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-admin></app-admin>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
