.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.body {
  width: 80%;
  height: 100%;
}

h1 {
  margin: 40px 0;
  font-size: 36px;
  font-weight: 500;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: row;

  .addButton,
  div,
  mat-form-field {
    margin: 20px;
  }

  .mat-raised-button {
    margin: auto 10px;
    background-color: #262626;
    color: #f4f5f7;
    height: 30px;
    width: 100px;
  }
}
