<div class="container">
  <mat-card>
    <mat-card-title *ngIf="!isEdit">Create new Idea</mat-card-title>
    <mat-card-title *ngIf="isEdit">Edit Idea</mat-card-title>
    <mat-card-content>
      <form [formGroup]="IdeaForm">
        <mat-form-field appearance="fill">
          <mat-label>Title: </mat-label>
          <input matInput id="title" type="text" formControlName="title" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Description: </mat-label>
          <input
            matInput
            id="description"
            type="text"
            formControlName="description"
          />
        </mat-form-field>
        <p class="title">Tags:</p>
        <mat-chip-list aria-label="Tags">
          <mat-chip *ngFor="let tag of selectedTags" (removed)="remove(tag)">
            {{ tag.name }}
            <button matChipRemove [attr.aria-label]="'remove ' + tag.name">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>
        <form class="tag-form">
          <mat-form-field appearance="fill">
            <mat-label>Tag name</mat-label>
            <input
              type="text"
              placeholder="Pick one"
              aria-label="Type your tag here..."
              matInput
              [formControl]="tagCtrl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let tag of filteredTags" [value]="tag.name">
                {{ tag.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button
            class="tagButton"
            *ngIf="createButtonVisible"
            (click)="createNewTag()"
          >
            Create Tag
          </button>
          <button
            class="tagButton"
            *ngIf="addButtonVisible"
            (click)="addNewTag()"
          >
            Add Tag
          </button>
        </form>
        <div class="actions">
          <button
            [disabled]="!IdeaForm.valid"
            (click)="create()"
            [ngClass]="IdeaForm.valid ? '' : 'disabled'"
            *ngIf="!isEdit"
          >
            Create
          </button>
          <button
            [disabled]="!IdeaForm.valid"
            (click)="edit()"
            [ngClass]="IdeaForm.valid ? '' : 'disabled'"
            *ngIf="isEdit"
          >
            Edit
          </button>
          <button
            class="cancel"
            *ngIf="!isEdit"
            [routerLink]="'/idea-boxes/' + ideaBoxId"
          >
            Cancel
          </button>
          <button
            class="cancel"
            *ngIf="isEdit"
            [routerLink]="'/idea/' + ideaId"
          >
            Cancel
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
