<div class="container">
  <div class="body">
    <div class="line">
      <h1>{{ idea?.title }}</h1>
      <div class="likes">
        <p>{{ likeText }}</p>
        <button mat-icon-button aria-label="Like" (click)="likeAction()">
          <mat-icon
            ><span
              [ngClass]="{
                'material-symbols-outlined': !isLiked,
                'material-symbols-filled': isLiked
              }"
            >
              thumb_up
            </span></mat-icon
          >
        </button>
      </div>
    </div>
    <div class="body-container">
      <div class="left">
        <div class="tabs">
          <mat-tab-group>
            <mat-tab label="Idea">
              <app-idea-tab [description]="idea?.description"></app-idea-tab>
            </mat-tab>
            <mat-tab label="Details">
              <app-details-tab
                [owner]="idea?.owner"
                [status]="idea?.status"
                [creationDate]="idea?.creationDate"
                [tags]="idea?.tags"
                [juries]="idea?.requiredJuries"
              ></app-details-tab>
            </mat-tab>
            <mat-tab label="Comments">
              <app-comments-tab [comments]="idea?.comments"></app-comments-tab>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <div class="right">
        <div class="button-container">
          <button
            mat-stroked-button
            [routerLink]="'/idea/' + id + '/edit'"
            *ngIf="canEdit"
          >
            Edit idea
          </button>
          <button
            mat-stroked-button
            [routerLink]="'/idea/' + id + '/score'"
            *ngIf="canEdit"
          >
            Score idea
          </button>
        </div>
        <div
          class="score-area"
          [ngStyle]="{ 'margin-top': canEdit ? '6px' : '62px' }"
        >
          <p class="title">Scores:</p>
          <mat-accordion>
            <mat-expansion-panel hideToggle *ngFor="let scoreSheet of scoreSheets">
              <mat-expansion-panel-header>
                <mat-panel-title> {{ scoreSheet.owner.firstName + " " + scoreSheet.owner.lastName }} </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="scoreBox" *ngFor="let score of scoreSheet.scores">
                <p>title: {{ score.title }}</p>
                <p>type: {{ score.type }}</p>
                <p>score: {{ score.score }}</p>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
