<div class="container">
  <div class="body">
    <h1>{{ idea?.title }}</h1>
    <div class="body-container">
      <div class="left">
        <div class="tabs">
          <mat-tab-group>
            <mat-tab label="Idea">
              <app-idea-tab [description]="idea?.description"></app-idea-tab>
            </mat-tab>
            <mat-tab label="Details">
              <app-details-tab
                [owner]="idea?.owner"
                [status]="idea?.status"
                [creationDate]="idea?.creationDate"
              ></app-details-tab>
            </mat-tab>
            <mat-tab label="Comments">
              <app-comments-tab [comments]="idea?.comments"></app-comments-tab>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <div class="right">
        <p class="title">Scores:</p>
      </div>
    </div>
  </div>
</div>
